
<footer class="footer">
    <nav class="footer-nav">
        <a href="#"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-code"></i> Dev Blog</a>
    </nav>
  
    <div class="socials">
      <a href="https://github.com/" target="_blank" class="social-icon">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://linkedin.com/" target="_blank" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </footer>