<header>
    <!-- <h1>Recep</h1> -->
    <button class="hamburger-menu inactive">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button> 
    <ul class="menufb">
        <li class="itemfb"><a href="/">Home</a></li>
        <li class="itemfb"><a href="/">Dev Blog</a></li>
    </ul>
</header>