/* Header Styling */

.bar {
    display: block;
    height: 6px;
    background-color: var(--text-color);
    margin-bottom: 6px;
    width: 40px;
    transition: all 0.3s ease;
  }

  .bar.active:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  
  .bar.active:nth-child(2) {
    opacity: 0;
  }
  
  .bar.active:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  

.inactive {
    display: none;
}
  
header {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1.5rem;
    z-index: 999;
    h1 {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;
    }
    .hamburger-menu {
      z-index: 999;
      background: none;
      border: none;
      padding-top: 5px;
    }
    .menu-items {
      background-color: var(--section-color);
      position: fixed;
      top: 0;
      right: -60vw;
      padding: 2rem;
      height: 100vh;
      width: 50vw;
      z-index: 998;
      transition: right 0.3s ease-in-out;
      @media (min-width: 768px) {
        width: 40vw;
      }
      &.active {
        right: 0;
      }
      .nav-item {
        position: relative;
        top: 30vh;
        margin-bottom: 2rem;
        list-style: none;
        &:hover {
          color: var(--hover-color);
        }
      }
      a {
        font-size: var(--heading-6);
      }
    }
  }
